body
	font-family: "Open Sans", Arial, sans-serif
.clearfix::after
	content: ''
	display: table
	clear: both
.wrapper
	width: $big-res
	margin: 0 auto
	// background-color: rgba(50, 0, 100, 0.2)
.container
	// background-color: rgba(50, 50, 50, 0.2)
	margin: 0 auto
	width: $sm-res
a
	text-decoration: none
	&:hover
		text-decoration: underline
.btn
	border: none
	padding: 11px 55px 14px 55px
	display: block
	cursor: pointer