<footer class="footer-main">
	<div class="footer-top">
		<div class="container clearfix">
			<a href="index.html" class="footer-logo"></a>
			<ul class="footer-nav clearfix">
				<li class="footer-nav-item"><a href="about.html">О компании</a></li>
				<li class="footer-nav-item"><a href="services.html">Услуги</a></li>
				<li class="footer-nav-item"><a href="portfolio.html">Портфолио</a></li>
				<li class="footer-nav-item"><a href="contacts.html">Контакты</a></li>
			</ul>
			<div class="footer-social clearfix">
				<a href="#" class="footer-social-item footer-social-item-tw"></a>
				<a href="#" class="footer-social-item footer-social-item-fb"></a>
				<a href="#" class="footer-social-item footer-social-item-vk"></a>
				
			</div>
		</div>
	</div> <!--footer-top-->
	<div class="footer-bottom">
		<div class="container clearfix">
			<p class="footer-bottom-text">Next-Install, 1996-2016</p>
			<p class="footer-bottom-text">Все права защищены</p>
		</div>
	</div>
</footer>