<header class="header-main">
	<div class="header-wrapper">
		<nav class="header-top">
			<div class="container clearfix">
				<a href="index.html" class="header-logo"><img src="img/header-logo.png" alt="logo"></a>
				<ul class="header-nav">
					<li class="nav-item"><a href="sh.html">Что такое УД</a></li>
					<li class="nav-item"><a href="about.html">О компании</a></li>
					<li class="nav-item"><a href="services.html">Услуги</a></li>
					<li class="nav-item"><a href="portfolio.html">Портфолио</a></li>
					<li class="nav-item"><a href="contacts.html">Контакты</a></li>
				</ul>
				<div class="header-tel-block">
					<p class="header-tel">+7 (495) 668-04-64</p>
					<p class="header-schedule">Пн - Пт с 10:00 до 18:00</p>
				</div>
			</div>
		</nav>
	</div> <!--header-wrapper container-->
</header>