<header class="header-main">
	<div class="container header-wrapper">
		<nav class="header-top">
			<a href="index.html" class="header-logo"><img src="img/header-logo.png" alt="logo"></a>
			<ul class="header-nav">
				<li><a href="sh.html">Что такое УД?</a></li>
				<li><a href="about.html">О компании</a></li>
				<li><a href="services.html">Услуги</a></li>
				<li><a href="portfolio.html">Портфолио</a></li>
				<li><a href="contacts.html">Контакты</a></li>
			</ul>
		</nav>
		<div class="header-mid">
			<h1 class="header-title">Уютный дом - Умный дом</h1>
			<p class="header-info">Комфорт - наша работа</p>
		</div> <!--header-mid-->
		<div class="header-bottom">
			<div class="features-item features-item-comfort"></div>
			<div class="features-item features-item-security"></div>
			<div class="features-item features-item-control"></div>
		</div><!--header-bottom-->
	</div> <!--header-wrapper container-->
</header>