<header class="header-main">
	<div class="header-wrapper-main">
		<div class="header-hand"></div>
		<nav class="header-top-main">
			<div class="container clearfix">
				<a href="index.html" class="header-logo"><img src="img/header-logo.png" alt="logo"></a>
				<ul class="header-nav">
					<li class="nav-item"><a href="sh.html">Что такое УД</a></li>
					<li class="nav-item"><a href="about.html">О компании</a></li>
					<li class="nav-item"><a href="services.html">Услуги</a></li>
					<li class="nav-item"><a href="portfolio.html">Портфолио</a></li>
					<li class="nav-item"><a href="contacts.html">Контакты</a></li>
				</ul>
				<div class="header-tel-block">
					<p class="header-tel">+7 (495) 668-04-64</p>
					<p class="header-schedule">Пн - Пт с 10:00 до 18:00</p>
				</div>
			</div>
		</nav>
		<div class="header-mid container">
			<h1 class="header-title">Уютный дом &mdash; умный дом</h1>
			<p class="header-info">ваш комфорт &mdash; наша работа</p>
		</div> <!--header-mid-->
		<div class="header-bottom">
			<div class="header-bottom-bg">
				<div class="container">
					<div class="features-item features-item-comfort">
						<p class="item-title-comfort">Удобство</p>
					</div>
					<div class="features-item features-item-security">
						<p class="item-title-security">Безопасность</p>
					</div>
					<div class="features-item features-item-control">
						<p class="item-title-control">Контроль</p>
					</div>
				</div>
			</div>
		</div><!--header-bottom-->
	</div> <!--header-wrapper container-->
</header>